Repository alpenlabs/alpen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alpenlabs/admins, @alpenlabs/ci, @alpenlabs/rust, @alpenlabs/bin, @alpenlabs/chain-protocol, @alpenlabs/chain-core, @alpenlabs/@chain-protocol, @alpenlabs/crypto, @alpenlabs/python, @alpenlabs/docker, @alpenlabs/dependencies

.github/CODEOWNERS:

# Order is important; the last matching pattern takes the most precedence.

.github/ @alpenlabs/admins # only admins should own the CODEOWNERS
.gitignore @alpenlabs/admins

# CI/Local ENV
.github/workflows/ @alpenlabs/ci
.github/actions/ @alpenlabs/ci
.github/dependabot.yml @alpenlabs/ci
.justfile @alpenlabs/rust @alpenlabs/ci @alpenlabs/bin
codecov.yml @alpenlabs/ci
contrib/ @alpenlabs/ci @alpenlabs/bin
tests/ @alpenlabs/rust @alpenlabs/ci
**/*.nix @alpenlabs/ci
flake.lock @alpenlabs/ci

# Libs
# Note that the globbing here is to future-proof against new crates
/crates/ @alpenlabs/rust # fallback catch all
/crates/acct-types/ @alpenlabs/chain-protocol @alpenlabs/chain-core
/crates/asm*/ @alpenlabs/@chain-protocol
/crates/btc*/ @alpenlabs/chain-protocol
/crates/chain*/ @alpenlabs/chain-protocol @alpenlabs/chain-core
/crates/common/ @alpenlabs/rust
/crates/config/ @alpenlabs/rust
/crates/consensus*/ @alpenlabs/chain-protocol @alpenlabs/chain-core
/crates/crypto/ @alpenlabs/crypto @alpenlabs/rust
/crates/db*/ @alpenlabs/chain-core
/crates/*ee*/ @alpenlabs/chain-core
/crates/evm*/ @alpenlabs/chain-core
/crates/key-derivation/ @alpenlabs/crypto @alpenlabs/rust
/crates/l1tx/ @alpenlabs/chain-protocol
/crates/mpt/ @alpenlabs/chain-protocol @alpenlabs/crypto
/crates/ol*/ @alpenlabs/chain-protocol @alpenlabs/chain-core
/crates/primitives/ @alpenlabs/crypto @alpenlabs/rust
/crates/proof*/ @alpenlabs/chain-protocol
/crates/reth*/ @alpenlabs/chain-protocol @alpenlabs/chain-core
/crates/rpc/ @alpenlabs/chain-core
/crates/sequencer/ @alpenlabs/chain-protocol @alpenlabs/chain-core
/crates/service/ @alpenlabs/rust
/crates/snark*/ @alpenlabs/chain-protocol
/crates/state/ @alpenlabs/chain-core
/crates/status/ @alpenlabs/chain-core
/crates/storage/ @alpenlabs/chain-core
/crates/strata-cli*/ @alpenlabs/rust
/crates/sync/ @alpenlabs/chain-core
/crates/tasks/ @alpenlabs/chain-core
/crates/*test-*/ @alpenlabs/rust @alpenlabs/ci
/crates/util*/ @alpenlabs/rust
/crates/*jmt*/ @alpenlabs/chain-core
/crates/zkvm/ @alpenlabs/chain-protocol
/provers/ @alpenlabs/chain-protocol

# Binaries/CLIs
bin/ @alpenlabs/bin # catch all
bin/alpen-*/ @alpenlabs/bin @alpenlabs/chain-core
bin/datatool/ @alpenlabs/bin @alpenlabs/chain-core
bin/prover*/ @alpenlabs/bin @alpenlabs/chain-protocol
bin/strata-*/ @alpenlabs/bin @alpenlabs/chain-core

# Functional tests
functional-tests/ @alpenlabs/python # catch all
functional-tests/fn_*.py @alpenlabs/python @alpenlabs/ci
functional-tests/constants.py @alpenlabs/python @alpenlabs/ci
functional-tests/entry.py @alpenlabs/python @alpenlabs/ci

# Docker/Containers
**/Docker* @alpenlabs/docker
docker/ @alpenlabs/docker

# Dependencies and metadata
**/Cargo.toml @alpenlabs/dependencies # dependencies and metadata
**/Cargo.lock @alpenlabs/dependencies # updates
.config/ @alpenlabs/rust @alpenlabs/ci # config for rustdev and CI
**/*.toml @alpenlabs/rust # config files

lint(da-fw): fix spelling
  .codespellrc
  crates/da-framework/src/compound.rs
Owners: @alpenlabs/rust

feature(da-framework): add `Context` system
  crates/da-framework/src/compound.rs
  crates/da-framework/src/counter.rs
  crates/da-framework/src/errors.rs
  crates/da-framework/src/lib.rs
  crates/da-framework/src/linear_acc.rs
  crates/da-framework/src/queue.rs
  crates/da-framework/src/register.rs
  crates/da-framework/src/traits.rs
Owners: @alpenlabs/rust

refactor(da-framework): add errorable return types to DA fns
  crates/da-framework/src/compound.rs
  crates/da-framework/src/counter.rs
  crates/da-framework/src/lib.rs
  crates/da-framework/src/linear_acc.rs
  crates/da-framework/src/queue.rs
  crates/da-framework/src/register.rs
  crates/da-framework/src/traits.rs
Owners: @alpenlabs/rust

lint(da-framework): cargo fmt
  crates/da-framework/src/counter.rs
  crates/da-framework/src/linear_acc.rs
  crates/da-framework/src/queue.rs
  crates/da-framework/src/register.rs
  crates/da-framework/src/traits.rs
Owners: @alpenlabs/rust

refactor(da-fw): remove old bespoke codec lib for new bespoke codec lib
  Cargo.lock
  crates/da-framework/Cargo.toml
  crates/da-framework/src/codec.rs
  crates/da-framework/src/compound.rs
  crates/da-framework/src/counter.rs
  crates/da-framework/src/lib.rs
  crates/da-framework/src/linear_acc.rs
  crates/da-framework/src/register.rs
Owners: @alpenlabs/dependencies, @alpenlabs/rust

refactor(da-fw): improve counters mod hierarchy
  crates/da-framework/src/counter.rs
  crates/da-framework/src/lib.rs
Owners: @alpenlabs/rust

feat!(asm): replace all bitcoin u64 for Amount
  crates/asm-types/src/block.rs
  crates/asm-types/src/header_verification.rs
  crates/asm/spec/src/lib.rs
  crates/asm/subprotocols/admin/src/subprotocol.rs
  crates/asm/subprotocols/bridge-v1/src/state/bridge.rs
  crates/asm/subprotocols/bridge-v1/src/subprotocol.rs
  crates/asm/subprotocols/checkpoint-v0/src/subprotocol.rs
  crates/asm/subprotocols/checkpoint-v0/src/types.rs
  crates/asm/subprotocols/core/src/handlers/checkpoint.rs
  crates/asm/subprotocols/core/src/verification/proof.rs
  crates/asm/worker/src/service.rs
Owners: @alpenlabs/@chain-protocol

feat!: replace all bitcoin u64 for Amount
  bin/datatool/src/btc_client.rs
  bin/datatool/src/util.rs
  bin/strata-client/src/rpc_server.rs
  bin/strata-dbtool/src/output/syncinfo.rs
  crates/btcio/src/reader/handler.rs
  crates/btcio/src/reader/query.rs
  crates/chain-worker/src/service.rs
  crates/chainexec/src/state_access.rs
  crates/consensus-logic/src/csm/client_transition.rs
  crates/consensus-logic/src/csm/worker.rs
  crates/consensus-logic/src/genesis.rs
  crates/db-tests/src/asm_tests.rs
  crates/db-tests/src/client_state_tests.rs
  crates/l1tx/src/deposit/common.rs
  crates/l1tx/src/deposit/deposit_request.rs
  crates/l1tx/src/deposit/deposit_tx.rs
  crates/l1tx/src/deposit/test_utils.rs
  crates/l1tx/src/filter/mod.rs
  crates/l1tx/src/filter/types.rs
  crates/ol-chainstate-types/src/l1_view.rs
  crates/rpc/types/src/types.rs
  crates/sequencer/src/checkpoint/worker.rs
  crates/state/src/bridge_ops.rs
  crates/state/src/client_state.rs
  crates/storage/src/managers/client_state.rs
  crates/test-utils/btc/src/lib.rs
  crates/test-utils/evm-ee/src/lib.rs
  crates/test-utils/l2/src/lib.rs
  crates/test-utils/tx-indexer/src/lib.rs
  crates/util/python-utils/src/parse.rs
Owners: @alpenlabs/bin, @alpenlabs/chain-core, @alpenlabs/chain-protocol, @alpenlabs/rust, @alpenlabs/ci

test(primitives): fix tests
  crates/primitives/src/l1/block.rs
Owners: @alpenlabs/crypto, @alpenlabs/rust

feat!(primitives): replace all bitcoin u64 for Amount
  crates/primitives/src/batch.rs
  crates/primitives/src/l1/block.rs
  crates/primitives/src/l1/btc.rs
  crates/primitives/src/lib.rs
  crates/primitives/src/params.rs
  crates/primitives/src/serde_helpers.rs
Owners: @alpenlabs/crypto, @alpenlabs/rust

chore: fix functional test
  functional-tests/tests/dbtool/revert_chainstate_delete_blocks.py
  functional-tests/tests/dbtool/revert_chainstate_fn.py
  functional-tests/tests/dbtool/revert_chainstate_seq.py
  functional-tests/tests/dbtool/revert_checkpointed_block_fn.py
  functional-tests/tests/dbtool/revert_checkpointed_block_seq.py
  functional-tests/tests/prover/prover_client_restart.py
Owners: @alpenlabs/python

Update lib.rs
  crates/mpt/src/lib.rs
Owners: @alpenlabs/chain-protocol, @alpenlabs/crypto

feat(btcio): btcio SPS-50 tagging with shared checkpoint tx crate
  Cargo.lock
  crates/btcio/Cargo.toml
  crates/btcio/src/reader/event.rs
  crates/btcio/src/reader/handler.rs
  crates/btcio/src/reader/mod.rs
  crates/btcio/src/reader/query.rs
  crates/btcio/src/reader/state.rs
  crates/btcio/src/reader/tx_indexer.rs
  crates/btcio/src/reader/utils.rs
  crates/btcio/src/test_utils.rs
  crates/btcio/src/writer/builder.rs
  crates/btcio/src/writer/context.rs
  crates/btcio/src/writer/mod.rs
  crates/btcio/src/writer/task.rs
  crates/test-utils/tx-indexer/src/lib.rs
Owners: @alpenlabs/dependencies, @alpenlabs/rust, @alpenlabs/chain-protocol, @alpenlabs/ci

feat(btcio): update envelope transaction handling with OP_RETURN script
  crates/btcio/Cargo.toml
  crates/btcio/src/test_utils.rs
  crates/btcio/src/writer/builder.rs
Owners: @alpenlabs/rust, @alpenlabs/chain-protocol

feat: add EnvelopeTagEncoder for main binary
  Cargo.lock
  bin/strata-client/Cargo.toml
  bin/strata-client/src/main.rs
Owners: @alpenlabs/dependencies, @alpenlabs/rust, @alpenlabs/bin, @alpenlabs/chain-core
