Repository alpenlabs/alpen, pull requests merged in 2024-11, with the labels that each got.

#445 func-tests: try to fix flaky bridge tests
  functional-tests/fn_bridge_deposit_happy.py
Labels: testing, bridge

#453 feat: print strata explorer links if configured
  bin/strata-cli/src/cmd/deposit.rs
  bin/strata-cli/src/cmd/drain.rs
  bin/strata-cli/src/cmd/faucet.rs
  bin/strata-cli/src/cmd/send.rs
  bin/strata-cli/src/cmd/withdraw.rs
  bin/strata-cli/src/settings.rs
  bin/strata-cli/src/signet.rs
  bin/strata-cli/src/strata.rs
Labels: enhancement

#444 Optimize SP1 Prover Build Time by Caching Proving and Verifying Keys
  .gitignore
  Cargo.lock
  bin/datatool/src/main.rs
  bin/prover-client/src/prover.rs
  provers/sp1/Cargo.toml
  provers/sp1/build.rs
  provers/sp1/tests/helpers/btc.rs
  provers/sp1/tests/helpers/cl.rs
  provers/sp1/tests/helpers/el.rs
  provers/sp1/tests/helpers/l1_batch.rs
  provers/sp1/tests/helpers/l2_batch.rs
Labels: prover

#468 func-tests: bridge withdraw happy
  functional-tests/constants.py
  functional-tests/fn_bridge_deposit_reclaim.py
  functional-tests/fn_bridge_withdraw_happy.py
Labels: testing, bridge

#499 chore(deps): bump bitcoin to 0.32.5
  Cargo.lock
  Cargo.toml
  bin/strata-client/src/extractor.rs
Labels: dependencies
